{
  "crowd_appname": "kayako-loginshare",
  "crowd_apppasswd": "Random-Password-Here",
  "crowd_baseurl": "https://mycrowd.example.com/crowd/",
  "kayako_interfaces": [
    "staff",
    "winapp",
    "mobile"
  ],
  "force_team": "Staff"
}
